header{
    background-color: black;
    color: white;
    height: 50px;
    margin-bottom: 50px;
}
header h1{
    text-align: center;
}

.country_flag{
    width: 300px;
}
.country_name{
    width: 500px
}
.img_flag{
    width: 150px
}

a{
    color: greenyellow;
    font-size: 1.5em;
}
a:hover{
    background-color: lightcoral;
}